* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu";
}

a {
  text-decoration: none;
}

a:active, a:focus,
button:active, button:focus {
  outline: none;
}

a::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

.header {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  padding: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 20% 20%;
      grid-template-columns: 25% 20% 20%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "clinic . . . social . contacts";
  border-bottom: 2px solid #c7c7c7;
}

.header-clinic {
  width: 100%;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: clinic;
}

.header-clinic-logo {
  width: 90px;
}

.header-clinic-tagline {
  font-size: 17px;
  line-height: 22px;
  text-align: center;
}

.header-social {
  width: 100%;
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: social;
}

.header-social #instagram, .header-social #vk, .header-social #twitter {
  width: 60px;
}

.header-contacts {
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: contacts;
}

.header-contacts a {
  font-size: 17px;
  color: #000000;
}

#a1, #mts, #work, #email {
  position: relative;
  width: 200px;
  padding-bottom: 0.7rem;
}

#a1::before {
  content: url("/img/header/a1.svg");
  position: absolute;
  top: -0.4rem;
  left: -1.9rem;
  width: 10px;
  height: 10px;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

#mts::before {
  content: url("/img/header/mts.svg");
  position: absolute;
  top: -1.6rem;
  left: -3.4rem;
  width: 10px;
  height: 10px;
  -webkit-transform: scale(0.16);
          transform: scale(0.16);
}

#work::before {
  content: url("/img/header/phone.svg");
  position: absolute;
  top: -1.7rem;
  left: -4rem;
  width: 10px;
  height: 10px;
  -webkit-transform: scale(0.17);
          transform: scale(0.17);
}

#email::before {
  content: url("/img/header/email.svg");
  position: absolute;
  top: -1.7rem;
  left: -4rem;
  width: 10px;
  height: 10px;
  -webkit-transform: scale(0.17);
          transform: scale(0.17);
}

.menu {
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu li > a {
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}

.menu li > a:after {
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  background-color: #1468bd;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.menu li > a:hover:after,
.menu li > a:focus:after {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */